Bw.6.X/OpenLDAP/OpenLDAPLogin/OpenLDAPLogin/Schemas/ResourceSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.example.com/namespaces/tns/1466404037919" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/namespaces/tns/1466404037919">
  <xsd:element name="Resource">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="pass" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
